@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif
}
:root{
    --primary-color:rgb(132, 84, 53);
    --secondary-color:rgb(212, 137, 150);
}
body{
    background-color: var(--primary-color);
}
html{
    font-size: 75.5%;
}
.header{
    width: 100%;
    height: 500px;
    color: var(--secondary-color);
    box-shadow: 0 5px 10px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
}
.header ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./image/bg1.webp);
    clip-path: circle(60% at left 300px);
    z-index: -1;
}
.row2{
    position: absolute;
    top: 10px;
    right: 150px;
    text-align: center;
    padding: 20px;
    background-color: #8a5b42; 
}
.row2 h2{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
}
.row2 img{
    margin-top: 30px;
    width: 250px;
    position: relative;
  z-index: 10;
}
.row1 h1{
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
    font-family: "Bodoni Moda", serif;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}
.search button{
    outline: none;
    border: none;
    height: 35px;
    padding: 0 0.5rem;
}
.card {
  width: 230px;
  height: 330px;      
  background: #f3c678;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  
  padding: 12px;     
  gap: 10px;
}
.card img {
  width: 150px;
  height: 220px;
  object-fit: cover;   
  border-radius: 6px;
  flex-shrink: 0;
}
.card h3 {
  font-size: 16px;
  color: #0040cc;
  text-align: center;
  flex-grow: 1;        /* makes text fill space */
}
.card p {
  margin-top: 5px;
  font-weight: bold;
  color: #5a3a1b;
}
.card .title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #004aad;
  min-height: 50px;    /* keep size same */
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .amount {
  font-size: 1rem;
  font-weight: bold;
  margin-top: auto;   
}
.container{
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
}
